@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');

body {
font-family: 'Love Ya Like A Sister' ;
background-image: url("https://github.com/crystalNB/dragon/blob/master/3-31310_badass-dragon-wallpaper-phone-on-wallpaper-hd-1920.jpg?raw=true");
 background-repeat: no-repeat;
  background-position: center;
   background-size: cover;
 
}

h1 {
 border: 5px outset grey;
 font-style; italic;
 font-size: 50px;
 color:#D8D9DA;
 float: center;
}


p {
 color: #D8D9DA;
 float: center;
}

.dragonfinder {
    overflow: hidden;
    background-color:#D8D9DA;
 
    
      
  }

 .dragonfinder a {
   float: left; 
   display: round;
   color:#CD6155;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 16px;
}
.dragonfinder a:hover {
  background-color:#D8D9DA;
  color:#D8D9DA;
  }

li {
 
 color:#D8D9DA7;
 float: center;
}
 



